In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [9]:
dataset = [['milk','jam','bread','ham','ramen'],
     ['ramen','rice','ham','cheese','kimchi'],
     ['ramen','rice','kimchi','cola'],
     ['cola','cookie','snack','bear','bread'],
     ['milk','ramen','cookie','bread'],
     ['ramen','rice','bread','snack'],
     ['cola','milk','bear','ramen','snack'],
     ['bread','jam','milk','cola'],
     ['ramen','cola','cheese','rice'],
     ['cookie','bread','milk''jam']]

In [10]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,bear,bread,cheese,cola,cookie,ham,jam,kimchi,milk,milkjam,ramen,rice,snack
0,False,True,False,False,False,True,True,False,True,False,True,False,False
1,False,False,True,False,False,True,False,True,False,False,True,True,False
2,False,False,False,True,False,False,False,True,False,False,True,True,False
3,True,True,False,True,True,False,False,False,False,False,False,False,True
4,False,True,False,False,True,False,False,False,True,False,True,False,False
5,False,True,False,False,False,False,False,False,False,False,True,True,True
6,True,False,False,True,False,False,False,False,True,False,True,False,True
7,False,True,False,True,False,False,True,False,True,False,False,False,False
8,False,False,True,True,False,False,False,False,False,False,True,True,False
9,False,True,False,False,True,False,False,False,False,True,False,False,False

In [11]:
frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True)

# 지지도를 기준으로 내림차순
frequent_itemsets
frequent_itemsets.sort_values('support',ascending=False)

    support         itemsets
4       0.7          (ramen)
0       0.6          (bread)
1       0.5           (cola)
3       0.4           (milk)
5       0.4           (rice)
12      0.4    (rice, ramen)
2       0.3         (cookie)
6       0.3          (snack)
7       0.3  (bread, cookie)
8       0.3    (bread, milk)
9       0.3   (bread, ramen)
10      0.3    (ramen, cola)
11      0.3    (milk, ramen)

In [13]:
frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x:len(x))
frequent_itemsets

    support         itemsets  length
0       0.6          (bread)       1
1       0.5           (cola)       1
2       0.3         (cookie)       1
3       0.4           (milk)       1
4       0.7          (ramen)       1
5       0.4           (rice)       1
6       0.3          (snack)       1
7       0.3  (bread, cookie)       2
8       0.3    (bread, milk)       2
9       0.3   (bread, ramen)       2
10      0.3    (ramen, cola)       2
11      0.3    (milk, ramen)       2
12      0.4    (rice, ramen)       2

In [14]:
frequent_itemsets1 = frequent_itemsets[(frequent_itemsets['length'] == 2) & (frequent_itemsets['support'] >= 0.3)]
frequent_itemsets1

    support         itemsets  length
7       0.3  (bread, cookie)       2
8       0.3    (bread, milk)       2
9       0.3   (bread, ramen)       2
10      0.3    (ramen, cola)       2
11      0.3    (milk, ramen)       2
12      0.4    (rice, ramen)       2

In [17]:
rules1=association_rules(frequent_itemsets, metric='lift', min_threshold=0.5)
rules1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(bread),(cookie),0.6,0.3,0.3,0.500000,1.666667,0.12,1.400,1.000000
1,(cookie),(bread),0.3,0.6,0.3,1.000000,1.666667,0.12,inf,0.571429
2,(bread),(milk),0.6,0.4,0.3,0.500000,1.250000,0.06,1.200,0.500000
3,(milk),(bread),0.4,0.6,0.3,0.750000,1.250000,0.06,1.600,0.333333
4,(bread),(ramen),0.6,0.7,0.3,0.500000,0.714286,-0.12,0.600,-0.500000
5,(ramen),(bread),0.7,0.6,0.3,0.428571,0.714286,-0.12,0.700,-0.571429
6,(ramen),(cola),0.7,0.5,0.3,0.428571,0.857143,-0.05,0.875,-0.357143
7,(cola),(ramen),0.5,0.7,0.3,0.600000,0.857143,-0.05,0.750,-0.250000
8,(milk),(ramen),0.4,0.7,0.3,0.750000,1.071429,0.02,1.200,0.111111
9,(ramen),(milk),0.7,0.4,0.3,0.428571,1.071429,0.02,1.050,0.222222
10,(rice),(ramen),0.4,0.7,0.4,1.000000,1.428571,0.12,inf,0.500000
11,(ramen),(rice),0.7,0.4,0.4,0.571429,1.428571,0.12,1.400,1.000000